extends layout

block content
	div(id="main")
		h1 Kyle Jay Burke
		h3 Web Developer | DJ | Music Producer
		br
		a(href="http://blackforestpastryshop.com/" target="_blank") view a website i built in 2014
		br
		a(href="https://soundcloud.com/audios_music" target="_blank") or soak in some vibes on my soundcloud
		br
		a(href="https://www.mixcloud.com/audios_/" target="_blank") but if you have some time to kill, listen to my mixes
		br
		br
		a(href="http://en.wikipedia.org/wiki/New_York_City" target="blank") living in New York City
		br
		a(href="http://www.fullstackacademy.com/" target="blank") currently attending school here
		br
		a(href="mailto:k23burke@gmail.com" target="blank") contact me
		br
		div
