extends layout

block content
	div(id="main")
		h1 Kyle Jay Burke
		h3 Web Developer | DJ | Music Producer
		br
		a(href="http://blackforestpastryshop.com/" target="_blank") this is a website I built a year ago
		br
		a(href="https://soundcloud.com/audios_music" target="_blank") soundcloud - home to my productions
		br
		a(href="https://www.mixcloud.com/audios_/" target="_blank") have some time to kill? listen to my mixes
		br
		a(href="http://www.fullstackacademy.com/" target="blank") currently attending school here
		br
		div
