doctype html
html
  head
    title Kyle Burke
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300')
  body
    block content
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="javascripts/three.min.js")
script(src="javascripts/detector.js")
script(src="javascripts/main.js")